# Compiled class files
*.class

# Log files
*.log

# Maven target directory
/target/

# Gradle build directory
/build/

# IntelliJ IDEA/JetBrains specific files
/.idea/
/*.iml

# Eclipse IDE specific files
/.settings/
/.project
/.classpath

# Temporary files
*.tmp
*.bak
*.swp

# Operating system files
.DS_Store
Thumbs.db

# Git-specific files
*.rej
*.orig

# Dependency directories that should not be committed
/node_modules/
/out/

# Sensitive or environment-specific files
*.env